name: Release GitHub

permissions: { }

on:
  push:
    branches: [release/*]

jobs:
  create-github-release:
    name: Create GitHub Release and Git tag
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - run: |
          mvn verify
          # Test if the jar file works
          ./target/app/bin/cucumber-messages-cli --help
        working-directory: java
      - uses: cucumber/action-create-github-release@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: upload Unix artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: java/target/distributions/app/cucumber-messages-cli.tar.gz
          asset_name: cucumber-messages-cli.tar.gz
          asset_content_type: application/gzip
      - name: upload Windows artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: java/target/distributions/app/cucumber-messages-cli.zip
          asset_name: cucumber-messages-cli.zip
          asset_content_type: application/zip