name: test-testdata

permissions: { }

on:
  push:
    branches:
      - main
    paths:
      - testdata/compatibility-kit/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - testdata/compatibility-kit/**
      - .github/**

jobs:
  test-testdata:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        cache: 'npm'
        cache-dependency-path: testdata/compatibility-kit/package-lock.json

    - run: npm ci
      working-directory: testdata/compatibility-kit

    - name: check repository is not dirty
      run: "[[ -z $(git status --porcelain) ]]"

    - name: show diff
      if: ${{ failure() }}
      run: git status --porcelain
