name: test-java

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - java/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - java/**
      - testdata/**
      - .github/**

jobs:
  test-java:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        java: [ "21"]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - run: | 
          mvn verify
          # Test if the jar file works
          java -jar target/messages-cli-*-SNAPSHOT.jar  --help
        working-directory: java

